.footer {
    background-color: #000000;
    max-width: 1440px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

.footerLogo {   
    width: 122px;
    margin-bottom: 28px;
}

.footerP {
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width: 376px) {
    .footerP {
        text-align: center;
        font-size: 12px;
    }
}
